@inherits LayoutComponentBase
@using BugdetPath.Services
@inject AuthenticationService authStateService
@inject NavigationManager navigationManager

<div class="sidebar">
    <nav>
        <a href="/dashboard" class="nav-item active">
            <span>🏠</span>
            <span>Dashboard</span>
        </a>
        <a href="/transactions" class="nav-item">
            <span>↔️</span>
            <span>Transactions</span>
        </a>
        <a href="/income" class="nav-item">
            <span>↗️</span>
            <span>Income</span>
        </a>
        <a href="/expense" class="nav-item">
            <span>↙️</span>
            <span>Expenses</span>
        </a>
        <a href="/debt" class="nav-item">
            <span>💰</span>
            <span>Debts</span>
        </a>
        <a href="/login" class="nav-item">
            <span>🚪</span>
            <span>Logout</span>
        </a>
    </nav>
</div>

@code {
    private async Task LogoutUser()
    {
        authStateService.Logout();
        navigationManager.NavigateTo("/");
    }
}