@inherits LayoutComponentBase
@using BugdetPath.Services
@inject AuthenticationService authStateService
@inject NavigationManager navigationManager

<div class="sidebar">
    <div class="top-row">
        <a class="navbar-brand">Expencetrackerr</a>
    </div>

    <div class="nav-scrollable">
        <nav class="nav-menu">
            <div class="nav-item">
                <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
                    <div class="nav-button">
                        <span class="icon">🏠</span>
                        <span>Dashboard</span>
                    </div>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/transactions">
                    <div class="nav-button">
                        <span class="icon">↔️</span>
                        <span>Transactions</span>
                    </div>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/income">
                    <div class="nav-button">
                        <span class="icon">↗️</span>
                        <span>Income</span>
                    </div>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/expense">
                    <div class="nav-button">
                        <span class="icon">↙️</span>
                        <span>Expenses</span>
                    </div>
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/debt">
                    <div class="nav-button">
                        <span class="icon">💰</span>
                        <span>Debts</span>
                    </div>
                </NavLink>
            </div>
        </nav>

        <div class="nav-footer">
            <div class="nav-item">
                <a href="#" class="nav-link" @onclick="LogoutUser">
                    <div class="nav-button">
                        <span class="icon">🚪</span>
                        <span>Logout</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@code {
    private async Task LogoutUser()
    {
        authStateService.Logout();
        navigationManager.NavigateTo("/");
    }
}
